# CDK asset staging directory
.cdk.staging
cdk.out

# Dependencies
node_modules/

# Compiled TypeScript
*.js
*.d.ts
!jest.config.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
